.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.navigation {
    float: left;
}

.login-container {
    float: right;    
}

.notifications {
    float: right;
}

.content {
    padding: 50px;
}


#logout {
    display: none;
}